mixin star ()
    .star
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        span.fa.fa-star.checked
        i.fa.fa-star-half.checked(aria-hidden='true') 
mixin my-card-body (object)
    img.card-img-top(src=object.src,alt="")
    .card-body  
        h5.card-title #{object.ten}
        +star()
        p.card-text #{object.content}
mixin my-card-hor (object)
    .card
        .row
            .col-4
                img.card-img(src=object.src, alt='...')
            .col-8
                .card-body
                    p.card-title #{object.ten}
                    +star()
                    p.card-text #{object.content}
mixin my-card-info (object)
    .card.mb-3
        img.card-img-top(src=object.src, alt='...')
        .card-body
            i.card-date #{object.date}
            p.card-ten #{object.ten}
            p.card-detail #{object.detail}
            a(href="")
                i.text-cont Đọc tiếp 
mixin my-card-hor-list-Product (object)
    .card
        .row
            .col-4
                img.card-img(src=object.src, alt='...')
            .col-8
                .card-body
                    p.card-title #{object.ten}
                    p.card-text #{object.mota}
                    +star()
                    p.card-price #{object.price}
                    .card-body__action
                        .card-body__action__buy
                            a(href="") MUA NGAY
                        .card-body__action__seach
                            a(href="")
                                img(src="../../IMG/icon-search-ct.png", alt="")
                        .card-body__action__love
                            a(href="")
                                img(src="../../IMG/heart.png", alt="")
mixin my-card-hor-new(object)
    .card
        .row
            .col-4
                img.card-img(src=object.src, alt='...')
            .col-8
                .card-body
                    p.card-text #{object.mota}
mixin my-comment()
    .row
        .col-3
            img.avatar(src="../../IMG/avatar.png", alt='...')
        .col-9
            .nickname
                p Nguyễn Văn An
                a(href="") Trả lời
            p.content-chat This is Photoshop's version of Lorem Ipsum.Prion gravida nibh vel velit auctor qliquet.Aenean sollicitudin,lorem quí bibendum auctor,nisi elit consequat,nec sagittis sen nibh id elit
            p.content-chat-date 
                i thứ 7,26/12/2019 13:00 AM
